<ion-header>
  <ion-toolbar color="primary">
    <ion-thumbnail
      slot="start" style="margin: 5px 0 5px 5px; padding: 5px 10px 5px 5px; width: 62px; border-right: 2px solid white;"
    >
      <ion-img src="/assets/rxss-mobile-logo.svg"></ion-img>
    </ion-thumbnail>

    <ion-title>
      <div style="font-size: 14px; position: relative; top: 0; vertical-align: text-top">RxSimpleSavings</div>
      <ion-text>Home</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="color: white; background-color: #00bcf2">
    <h2 style="margin: 0; padding: 30px 20px; text-align: center;">Let's Start Saving</h2>
  </div>

  <ion-list>
    <ion-item href="/tabs/tab2">
      <ion-label>Price Shopping</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Generic</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Contact Prescriber</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
