<ion-header>
  <ion-toolbar color="primary">
    <ion-thumbnail
      slot="start"
      style="margin: 5px 0 5px 5px; padding: 5px 10px 5px 5px; width: 62px; border-right: 2px solid white;"
    >
      <ion-img src="assets/rxss-mobile-logo.svg"></ion-img>
    </ion-thumbnail>

    <ion-title>
      <div style="font-size: 14px; position: relative; top: 0; vertical-align: text-top">RxSimpleSavings</div>
      <ion-text>Home</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="color: white; background-color: #00bcf2">
    <h2 style="margin: 0; padding: 30px 20px 15px 20px; text-align: center;">Let's Start Saving!</h2>
    <h2 style="margin: 0; padding: 0 20px 15px 20px; text-align: center;">
      <ion-icon style="font-size: 1.5em;" class="animated infinite hang slow" name="arrow-down"></ion-icon>
    </h2>
  </div>

  <a href="/tabs/tab2/1" style="text-decoration: none;">
    <ion-card style="background-color: #e8fde2; margin-bottom: 20px;">
      <ion-img src="/assets/duexis800266mgTablet.jpg"></ion-img>
      <ion-card-header style="padding-bottom: 0;">
        <ion-card-subtitle>Your DUEXIS 800-26.6mg Tablet</ion-card-subtitle>
        <ion-card-title style="color: #317e15">Make a quick call and save:</ion-card-title>
      </ion-card-header>

      <ion-card-content style="text-align: center;">
        <span style="color: #317e15; font-size: 4em;">$354</span><span> / fill</span>
      </ion-card-content>
    </ion-card>
  </a>

  <a href="/tabs/tab2/2" style="text-decoration: none;">
    <ion-card style="background-color: #e8fde2; margin-bottom: 20px;">
      <ion-img src="/assets/crestor20mgTablet.jpg"></ion-img>
      <ion-card-header style="padding-bottom: 0;">
        <ion-card-subtitle>Bobby's Crestor 20mg Tablet</ion-card-subtitle>
        <ion-card-title style="color: #317e15">Switch to a generic and save:</ion-card-title>
      </ion-card-header>

      <ion-card-content style="text-align: center;">
        <span style="color: #317e15; font-size: 4em;">$30</span><span> / fill</span>
      </ion-card-content>
    </ion-card>
  </a>

  <a href="/tabs/tab2/3" style="text-decoration: none;">
    <ion-card style="background-color: #e8fde2; margin-bottom: 20px;">
      <ion-img src="/assets/amlodipine510mgTablet.jpg"></ion-img>
      <ion-card-header style="padding-bottom: 0;">
        <ion-card-subtitle>Your Amlodipine, Atorvastatin 5-10mg Tablet</ion-card-subtitle>
        <ion-card-title style="color: #317e15">Use a different pharmacy and save:</ion-card-title>
      </ion-card-header>

      <ion-card-content style="text-align: center;">
        <span style="color: #317e15; font-size: 4em;">$17</span><span> / fill</span>
      </ion-card-content>
    </ion-card>
  </a>

  <ion-img
    style="margin: 30px auto; height: 50px; width: 50px; border-radius: 35px; background-color: #4c3e54; padding: 10px;"
    src="/assets/rxss-mobile-logo.svg"
    (click)="loadPushes()"
  ></ion-img>
</ion-content>
