<ion-header>
  <ion-toolbar color="primary">
    <ion-thumbnail
            slot="start" style="margin: 5px 0 5px 5px; padding: 5px 10px 5px 5px; width: 62px; border-right: 2px solid white;"
    >
      <ion-img src="/assets/rxss-mobile-logo.svg"></ion-img>
    </ion-thumbnail>

    <ion-title>
      <div style="font-size: 14px; position: relative; top: 0; vertical-align: text-top">RxSimpleSavings</div>
      <ion-text>Savings</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-content>
    <div id="barChart"></div>
  </ion-content>
  <ion-list>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-item href="/tabs/tab1">
      <a class="button icon-left ion-chevron-left button-clear button-dark">Back</a>
    </ion-item>
  </ion-toolbar>
</ion-footer>